@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase


<nav class="nav-container">
    <div class="top-row d-flex align-items-center px-3">
        <span class="navbar-brand">RecipeApp</span>
    </div>

    <div class="nav-scrollable p-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu me-2"></span>
                    Home
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center" href="recipes">
                    <span class="bi bi-list-nested-nav-menu me-2"></span>
                    My Recipes
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center" href="recipes/new">
                    <span class="bi bi-plus-square-fill-nav-menu me-2"></span>
                    Add Recipe
                </NavLink>
            </li>

            <li class="nav-item mt-3">
                <hr />
            </li>

            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center" href="register">
                    Register
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link d-flex align-items-center" href="login">
                    Login
                </NavLink>
            </li>
        </ul>
    </div>
</nav>